.background-image {
  background-image: url('Images/Tree-in-Water.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

.heading-1 {
  font-size: 80px;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

button {
  border: none;
  font-size: 20px;
  border-radius: 30px;
  padding: 15px;
}

button:hover {
  background-color: rgb(191, 186, 186);
  transition: 0.4s;
}

button:active {
  background-color: rgb(230, 5, 230);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.row-1 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.fa-solid {
  font-size: 50px;
}

.section-2 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.first-col {
  background-image: url(Images/Writing.jpg);
  background-size: cover;
  height: 30vh;
  color: white;
}

.first-col:hover {
  cursor: pointer;
  border: solid;
  border-color: lightgray;
  border-width: 10px;
}

.second-col {
  background-image: url(Images/Synergy.jpg);
  background-size: cover;
  height: 30vh;
  color: white;
}

.second-col:hover {
  cursor: pointer;
  border: solid;
  border-width: 10px;
  border-color: lightgray;
}

.third-col {
  background-image: url(Images/Rocks.jpg);
  background-size: cover;
  height: 30vh;
  color: white;
}

.third-col:hover {
  cursor: pointer;
  border: solid;
  border-width: 10px;
  border-color: lightgray;
}

@media (max-width: 768px) {
  .background-image {
    height: 50vh;
  }

  .heading-1 {
    font-size: 50px;
  }

  .row-2 {
    display: flex;
    flex-direction: column;
  }

  .row-3 {
    display: flex;
    flex-direction: column;
  }

  .row-4 {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
}






